<template name="cardSidebarItemAspectRatio">
    {{#unless is3DActive}}
        {{#if gotAspectRatio}}
            <i class="card-button aspect-ratio-button fa fa-desktop hidden-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        {{/if}}
    {{/unless}}
</template>
