<template name="cardSidebarItemHelp">
    <i class="hidden-xs card-button cardHeaderItem btn fa fa-question showModalHelp {{#if modalActive}}pressed{{/if}}" title="{{_ "card.tooltip.showHelp"}}"></i>
</template>
