<template name="wordcloud">
    {{#if displayHelpModal}}
        {{> wordcloudHelpModal}}
    {{/if}}
    {{> wordcloudModal}}
    <div id="wordcloud-container" class="col-xs-12">
        <canvas id="wordcloud-canvas" class="needsclick"></canvas>
        <div id="wordcloud-hover-box"></div>
        <div id="wordcloud-canvas-background"></div>
    </div>
    <div id="pomodoroTimerWordcloudContainer"></div>
</template>

<template name="wordcloudModal">
    <div class="modal fade" id="wordcloudModal" role="dialog">
        {{#each getContent}}
            <div class="modal-dialog" aria-labelledby="wordcloudTitle">
                <div class="modal-content hintContent">
                    <div class="modal-header">
                        <span class="modal-icon">
                            {{#if isRepetitorium}}
                                <i class="fa fa-archive"></i> <i class="fa fa-archive"></i> <i
                                    class="fa fa-archive"></i> <i
                                    class="fa fa-ellipsis-h"></i>
                            {{else}}
                                <i class="fa fa-archive"></i>
                            {{/if}}
                        </span>
                        {{> mainModalItemCloseIcon}}
                        <h4 id="wordcloudTitle" class="modal-title">
                            {{> cardsetLabels}}
                            <br>
                            <br>
                            {{#if canAccessFrontend}}
                                <a href="/cardset/{{this._id}}" id="cardsetLink">{{this.name}}</a>
                            {{else}}
                                {{this.name}}
                            {{/if}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12 wordCloudDescription">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                {{#markdeep}}
                                                    {{this.description}}
                                                {{/markdeep}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <br>
                                    <table class="table">
                                        {{> cardsetInfoBoxContentOne}}
                                        {{> cardsetInfoBoxContentTwo}}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>
