<template name="mainNavigationFooterItemInfo">
    <div class="navbar-cards-footer-about-icon">
        <a id="info" href="{{pathFor route='about'}}" aria-label="{{_ "footer.info" lastAppTitle=(getLastAppTitle)}}">
            {{{getNavigationName "mobileInfo"}}}
        </a>
    </div>
</template>
